.article .criar-div {
    max-height: 490px; /* Defina a altura máxima conforme necessário */
    overflow-y: auto; /* Permite a rolagem vertical */
    scrollbar-width: thin; /* Define a largura da barra de rolagem (para Firefox) */
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Define a cor da barra de rolagem e da área de fundo (para Firefox) */
}

/* Para navegadores Webkit, como o Chrome */
.article .criar-div::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.article .criar-div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda os cantos da barra de rolagem */
}

.article .criar-div::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para a área da barra de rolagem */
}

.article-thumbnail-posts {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.observer-target {
    width: 100%;
    height: 1px;
    margin-top: -1px;
}




/* Para navegadores Webkit, como o Chrome */
.article .jogadores::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.article .jogadores::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda os cantos da barra de rolagem */
}

.article .jogadores::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para a área da barra de rolagem */
}