:root {
  --destaque: #931bb1;
  --destaque-escuro: #a62ac5;
  --rosa-claro: #f2a3d4; /* Branco alterado para um tom suave de rosa */
  --alinhar-logo: flex-start;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url('../img/cherry-blossom-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

header.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header .navbar {
  background-color: var(--destaque);
  border-radius: 5px;
}

.navbar-item,
.navbar-link {
  color: var(--rosa-claro);
}

.navbar-item svg,
.navbar-link svg {
  margin-right: .25rem;
}

.navbar-dropdown .navbar-item {
  color: #f7f7f7;
}

a.navbar-item:hover, a.navbar-link:hover,
a.navbar-item.is-active, a.navbar-link.is-active,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  background-color: rgba(255, 255, 255, .25);
  color: #fff;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #fff;
}

.navbar-burger {
  color: #fff !important;
}

.logo.container {
  display: flex;
  justify-content: var(--alinhar-logo);
  margin-bottom: 2rem;
}

.logo.container img {
  max-height: 100px;
  transition: all .2s ease-out;
}

.logo.container img:hover {
  transform: scale(1.1) rotate(2.5deg);
}

#ip textarea:not(.is-active) {
  display: none;
}

#ip::before {
  content: 'Copiado';
  position: absolute;
  top: calc(50% - 12px);
  left: -90px;
  color: #fff;
  background-color: #48c774;
  padding: 0 .5rem;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(2px);
  transition: all .25s ease;
}

#ip.is-active::before {
  opacity: 1;
  pointer-events: none;
  transform: translateY(0);
}

main.section,
footer.section {
  padding-top: 0;
  padding-bottom: 2rem;
}

.article-title {
  background-color: var(--destaque);
  font-size: 1.25rem;
  color: var(--rosa-claro);
  padding: .5rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article-title svg {
  margin-right: .25rem;
}

.article-content {
  background-color: #f7f7f7;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article-thumbnail {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--destaque);
  padding: 1rem;
  color: var(--rosa-claro);
  text-align: center;
  border-radius: 5px;
}

a.is-muted {
  color: inherit;
  font-size: .8rem;
  opacity: .5;
}

a.is-muted:hover {
  opacity: 1;
}

.is-spinning {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.equipe, .produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.produtos li {
  width: 25%;
  text-align: center;
}

.produtos li:nth-child(4n):not(:last-child) {
  margin-bottom: 2rem;
}

.produtos img {
  height: 128px;
}

.equipe li {
  width: 33.33333%;
  text-align: center;
}

.equipe img {
  height: 50px;
  transition: all .2s ease;
}

.equipe li:hover img {
  transform: translateY(-3px);
}

.equipe h1, .produtos h1 {
  font-size: 1rem;
  line-height: 0.85;
}

.equipe h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75rem;
}

.produtos h2 small {
  font-size: .75rem;
}

.produtos .buttons {
  margin-top: 5px;
}

.list {
  background-color: unset;
  border-radius: 0;
  box-shadow: none;
  margin: .5rem 0;
}

.list svg {
  margin-right: 5px;
  color: var(--destaque);
}

.button.is-primary {
  background-color: var(--destaque);
  border-color: var(--destaque);
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: var(--destaque-escuro);
  border-color: var(--destaque-escuro);
}

.produto-sidebar .article-content {
  text-align: center;
}

.produto-sidebar img {
  height: 128px;
}

.produto-sidebar h1 {
  font-size: 1.5rem;
}

.produto-sidebar h1 small {
  font-size: 1rem;
}

.produto-sidebar .field {
  margin-top: 1rem;
}

.produto-sidebar .field .control.is-fullwidth {
  flex-grow: 1;
}

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 150%; /* 16:9 Aspect Ratio */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .navbar-start > .navbar-item:first-child:hover,
  .navbar-start > .navbar-link:first-child:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .navbar-end > .navbar-item:last-child:hover,
  .navbar-end > .navbar-link:last-child:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0;
  }

  .container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
    margin-right: 0;
  }

  .equipe li:nth-child(3n):not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .logo.container {
    justify-content: center;
  }

  .navbar-menu {
    background: var(--destaque-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .navbar-dropdown .navbar-item {
    color: #fff;
  }

  #ip::before {
    left: unset;
    right: .5rem;
  }

  .article-thumbnail {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .equipe li {
    width: 50%;
  }

  .equipe li:nth-child(2n):not(:last-child) {
    margin-bottom: 2rem;
  }

  .produtos li {
    width: 100%;
  }
  
  .produtos li:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.painelstaff .button {
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  width: 100%;
}

.painelstaff .button.is-primary {
  background-color: #9b4caf;
  color: #fff;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.painelstaff .button.is-primary:hover {
  background-color: #ad5cc5;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.painelstaff .button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.6);
}
